@import "tailwindcss";
@config "../../tailwind.config.cjs";

@font-face {
  font-family: "Figtree";
  src: url("/fonts/figtree/Figtree-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
